@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Set scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #fff0d1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #3b3030; /* Thumb color */
  border-radius: 10px; /* Optional: Rounded corners for the thumb */
}

/* Optional: Hover effect for the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #2a2525; /* Darker shade on hover */
}
.slick-dots li button::before {
  color: #fff; /* White color for dots */
  font-size: 10px;
}

.slick-dots li.slick-active button::before {
  color: #fff; /* White color for the active dot */
}
* {
  scroll-behavior: smooth;
}
html {
  background-color: #fff0d1;
}
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3b3030;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Carousel Dots Customization */
.slick-dots.custom-dots {
  bottom: -30px;
}
.slick-dots.custom-dots li button::before {
  display: none;
}
